{% extends "blog/base.html" %}

{% block business %}
    <div class="Business row ms-4">
        <div id="travel" class="ms-4 mt-5 p-2 text-white fs-5 business"><div class="flex-row"><div class="d-flex justify-content-start">Business</div></div></div>
        <div class="second-widget-content">
            {% for post in post9 %}
                <style>
                    h6 a:hover{
                        color: #dc3545;
                    }
                </style>
                <div class="grid-item p-4">
                    <div class="grid-img"><a href="{% url 'blog-detail' post.pk %}"><img src="{{post.image.url}}" alt="" class="img-fluid"></a></div>
                    <div>
                        <h6 class="fw-bold fs-4"><a href="{% url 'blog-detail' post.pk %}">{{post.title}}</a></h6>
                        <h6>by <span class="" style="color: cornflowerblue;">{{post.author.profile.first_name}} {{post.author.profile.last_name}},</span><span class="date">{{post.date_posted|date:"F d, Y"}}.</span></h6>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock business %}