{% extends "blog/base.html" %}


{% block comment %}

        <style>
            .comment-body{
                width: 325px;
                max-width: 100%;
            }
        </style>
    <div class="row ms-1 d-flex justify-content-center" id="comments" >
        <div id="popular" class="mt-5 text-white fs-5"><div class="flex-row"><div class="mt-2">Comments <i class="fa fa-comments-o ms-1 fs-4"></i></div></div></div>
        <div class="comments mb-4">
            {% for comment in comments %}
                <div class="row text-nowrap mt-4 me-3 pt-3">
                    <div class="col-lg-6 col-md-6 col-sm-6 comment-img">
                        <div><h1 class="text-white fw-bold fs-1">{{comment.name.0|title}}</h1></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 comment-body">
                        <h6 class="text-wrap"><b>{{ comment.name }} </b> <span class="text-secondary"></span></h6>
                        <h6 class="fs-6 fw-lighter text-wrap">{{ comment.body | linebreaks }}</h6>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>

        <div class="card-body" id="form-card">
           
                <h3 class="fw-bold text-success" style="margin-left: 25px;">Leave a comment</h3>
                <form method="post" style="margin-top: 1.3em; margin-left: 25px;">
                {% csrf_token %}
                    <input type="text" class="form-control mt-2" placeholder="Name" name="name">
                    <input type="email" class="form-control mt-2" placeholder="Email Address" name="email">
                    <textarea class="form-control mt-2" placeholder="Comment" rows="10" name="body"></textarea>
                <button type="submit" class="btn btn-primary mt-2 btn-lg mt-4">Submit</button>
                </form>
            
        </div>
    </div>
{% endblock comment %}
