{% extends 'blog/base.html' %}


{% block footer %}
        <!-- footer Section -->
    <section class="footer text-white">
        <div class="container pt-5 px-2">
        <div class="row first-row pt-4">
            <div class="col-lg-3 col-md-3 footer-logo"><a href="#"><h3>Tulip <i class="logo-icon fa fa-rss"></i></h3></a></div>
            <div class="col-lg-5 col-md-5 footer-text"><h5 class="fw-lighter fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, porro?</h5></div>
            <div class="col-lg-4 col-lg-4 footer-icons">
            <div class="row fs-5 mx-auto">
                <div class="col-lg-2 facebook"><a href=""><i class="fa fa-facebook-square"></i></a></div>
                <div class="col-lg-2 twitter"><a href=""><i class="fa fa-twitter"></i></a></div>
                <div class="col-lg-2 instagram"><a href=""><i class="fa fa-instagram"></i></a></div>
                <div class="col-lg-2 youtube"><a href=""><i class="fa fa-youtube-play"></i></a></div>
                <div class="col-lg-2 rss"><a href=""><i class="fa fa-rss"></i></a></div>
                <div class="col-lg-2 pinterest"><a href=""><i class="fa fa-pinterest"></i></a></div>
            </div>
            </div>
            <hr class="mt-3 text-">
        </div>
        <div class="row first-row second-row pb-5">
            <div class="col-lg-3 col-md-4 col-sm-6">
            <p class="links">
                <h5 class="fs-5">Navigation links</h5>
            </p>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Account</a></li>
            </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
            <p class="sponsors">
                <h5 class="fs-5">Sponsors</h5>
            </p>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                <a href=""><img src="" alt=""></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                <a href=""><img src="" alt=""></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                <a href=""><img src="" alt=""></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                <a href=""><img src="" alt=""></a>
                </div>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 connect">
            <p>
                <h5 class="fs-5">Get in touch</h5>
            </p>
            <div class="py-1"><i class="fa fa-envelope me-3"></i><span><h6 class="fw-lighter fs-6"><a href="" style="text-decoration: none;">www.tulip@gmail.com</a></h6></span></div>
            <div class="py-1"><i class="fa fa-phone me-3"></i><span><h6 class="fw-lighter fs-6">08102012239</h6></span></div>
            <div class="py-1"><i class="fa fa-fax me-3"></i><span><h6 class="fw-lighter fs-6">+01-234-4566</h6</span></div>
            </div>
        </div>
        <div class="row third-row pt-2">
            <div class="mx-auto" style="width: 200px;">
            <p><small>Tulip.com@copyright2021</small></p>
            </div>
        </div>
        </div>
    </section>
    <!-- footer Section ends -->
{% endblock footer %}
    