{% extends "blog/base.html" %}

{% block latest %}
    <style>
        h5 a:hover{
            color: #dc3545;
        }
    </style>
    <div class="row ms-1" id="widget">
        <div id="popular" class="mt-5 text-white fs-5 widget-bar"><div class="flex-row"><div class="mt-2">Travel</div></div></div>
        <div class="widget mt-4 mb-2 ms-5">
            {% for posts in post4 %}
                <div class="mini-item">
                    <div>
                        <a href="{% url 'blog-detail' posts.pk %}"><img src="{{posts.image.url}}" alt="" class="img-thumbnail"></a>
                    </div>
                    <div>
                        <h5 class="fs-6 fw-bold"><a href="{% url 'blog-detail' posts.pk %}">{{posts.title}}</a></h5>
                        <h6>by <span class="date" style="color: cornflowerblue;">{{posts.author.profile.first_name}} {{posts.author.profile.last_name}},</span></h6>
                        <h6 class="pt-0  mt-0 ms-0 date" style="position: relative; bottom: 5px;">{{posts.date_posted|date:"F d, Y"}}</h6>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock latest %}
