{% extends 'blog/base.html' %}

{% block content %}
    <style>
        .Second-Blog-Content {
            margin-top: 100px;
        }
    </style>
    <section class="Second-Blog-Content pt-5 pb-5">
        <div class="container bg-light pt-5 ps-5 p-4">
        <h2 class="fw-bold text-secondary">Password reset sent</h2>
        <p>
            <h6>
                We have emailed you instructions for setting your password, if an account exists with the email you entered
                . You should receive them shortly. 
            </h6>
        </p>
        <p>
            <h6>
                If you don't receive an email, please make sure you've entered the email address you registered with,
                and check your spam folder.
            </h6>
        </p>
        </div>
    </section>
{% endblock content %}
