{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        .Second-Blog-Content{
            width: 100%;
            height: 100%;
            margin-top: 100px;
        }
    </style>
    <section class="Second-Blog-Content pt-5 pb-5">
        <div class="container bg-light pt-5 ps-5 pb-4">
            <div class="row mb-5">
                <legend class="fw-bold">Enter new password</legend>
                <p><h6>Please enter your new password and new password confirmation to reset password</h6></p>
                <form action="" method="POST" class="mt-4 mb-3">
                    {% csrf_token %}
                    <div class="mb-3">{{form|crispy}}</div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>

            
    </section>
{% endblock content %}
