{% extends 'blog/base.html' %}

{% block content %}
    <style>
        .Second-Blog-Content {
            margin-top: 100px;
        }
    </style>
    <section class="Second-Blog-Content pt-5 pb-5">
        <div class="container bg-light pt-5 ps-5 p-4">
        <h2 class="fw-bold text-success">Password reset complete <i class="fa fa-check-circle-o"></i></h2>
        <p>
            <h6>
                Your password has been reset successfully, you can now <a href="{% url 'login' %}" class="text-decoration none text-primary">login</a> with your new password.
            </h6>
        </p>
        </div>
    </section>
{% endblock content %}
